<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Campground</title>
</head>

<body>
    <h1>Add A Campground</h1>
    <form action="/campgrounds" method="POST">
        <label for="title">Title</label>
        <input id="title" type="text" name="campground[title]" placeholder="title">

        <label for="location">Location</label>
        <input type="text" id="location" name="campground[location]" placeholder="location">

        <button>Add Campground</button>
    </form>
</body>

</html>